BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=
WARCRAFTLOGS_CLIENT_ID=
WARCRAFTLOGS_CLIENT_SECRET=
BLIZZARD_NAMESPACE=profile-classicann-eu
WARCRAFTLOGS_ZONE_IDS=1047,1048,1056
WARCRAFTLOGS_REPORT_LIMIT=3
SYNC_INTERVAL_MINUTES=10
